{% extends "layout.html" %}

{% block current_guess %}
    <div class="split left">
        <div class="centered">
    <h2> {{ current_guess }}</h2>
    <form method="POST">

        <input name="text">
        <input type="submit">

    </form>

    {% if guesses %}
    <h2>{{ guesses }} guesses left!</h2>
    {% endif %}

    <h2> Already tried letters : {{ false_guesses }}</h2>
    </div>
    </div>
{% endblock current_guess%}

{% block content %}

    <style type="text/css">
    .txtUpsideDown
    {
        filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
        ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
        -moz-transform: rotate(-180deg);  /* FF3.5+ */
        -o-transform: rotate(-180deg);  /* Opera 10.5 */
        -webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
        position: absolute;
    }
    </style>
    <div class="txtUpsideDown" style="color:lightgrey;">The word is: {{ word }}</div>

{% endblock content %}

    {% block canvas %}
    <div class="split right">
        <div class="centered">
        <!--<canvas id="myCanvas" width="500" height="300"></canvas>-->
        <!--<script src="{{ url_for('static', filename='stickman.js') }}"></script>-->
        {% if guesses == 8 %}
            <img width="50" height="150" src="/static/CORRECT_david_left_hand.png">
        {% endif %}

        {% if guesses == 7 %}
            <img width="210" height="300" src="/static/david_two.png" >
        {% endif %}

        {% if guesses == 6 %}
            <img width="210" height="400" src="/static/david_three.png">
        {% endif %}

        {% if guesses == 5 %}
            <img width="260" height="360" src="/static/david_four.png">
        {% endif %}

        {% if guesses == 4 %}
            <img width="327" height="640" src="/static/david_five.png">
        {% endif %}

        {% if guesses == 3 %}
            <img width="327" height="640" src="/static/david_six.png" >
        {% endif %}

        {% if guesses == 2 %}
            <img width="327" height="640" src="/static/david_seven.png">
        {% endif %}

        {% if guesses == 1 %}
            <img width="327" height="640" src="/static/david_broken.png">
        {% endif %}
        </div>
    </div>
    {% endblock canvas %}