{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% if success %}
    <h1 style="text-align:center;">{{success}}</h1>
    {% endif %}

    {% if word %}
    <h1 style="text-align:center;">The word was: {{word}}</h1>
    {% endif %}

    {% if success == 'Fail!' %}
        <img width="280" height="500" src="/static/david_broken_left.png" style="transform:rotate(270deg);" class="center">
        <img width="280" height="500" src="/static/david_broken_right.png" style="transform:rotate(90deg);" class="center">
    {% endif %}

    {% if success == 'Success!'%}
        <img width="280" height="500" src="/static/david_six.png">
    {% endif %}
{% endblock content %}